
<div class='dashboard-content' id="listUsers">


</div>


<!-- Delete Coins Modal -->
<div class="modal fade" id="DeleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Delete</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Are you sure you want to delete User (<span id="DeleteUserNumber"></span>)!</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="DeleteUserButton">Delete User</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Coins Modal -->
