
<div class='dashboard-content' id="listUsers">


</div>


<!-- Delete Coins Modal -->
<div class="modal fade" id="DeleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content sitebackground siteColor">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">Delete</p>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <p>Are you sure you want to delete User (<p id="DeleteUserNumber"></p>)!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn siteBtnbackground" id="DeleteUserButton">Delete User</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Coins Modal -->
