@using MultiLogApplication.Models.Common
@model ReturnType<MultiLogApplication.Models.Account.AccountDetail>


<div class='dashboard-content'>
    @*  <div class="row mt-4">
    <div class="col-6">
    <h6 class="text-white">Account Listing</h6>
    </div>
    </div> *@

    <div class="card mt-4 sitebackground siteColor">
        <div class="card-body customtable">
            <h5 class="card-title">Accounts</h5>
            <!-- Table with hoverable rows -->
            <table class="table table-hover" id="userList">
                <thead class="tableHeaderClass">
                    <tr>
                        <th scope="col">User Number</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Application</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
                    {
                        @foreach (var account in Model.ReturnList)
                        {
                            <tr>
                                <td scope="row">@account.UserNumber</td>
                                <td>@account.UserName</td>
                                <td>@account.SiteName</td>
                                <td>
                                    <div class="btn-group">
                                        @*<button type="button" data-toggle="modal" data-target="#AddAccountDetails" UserNumber=@account.UserNumber> <i class="bi bi-pencil-square"></i> </button>*@
                                        <button type="button" data-toggle="modal" data-target="#DeleteAccountDetails" UserNumber=@account.UserNumber> <i class="bi bi-trash-fill"></i> </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="4">No Data Found!!</td></tr>
                    }
                </tbody>
            </table>
            <!-- End Table with hoverable rows -->
        </div>
    </div>
</div>


<!-- Modal -->
@* <div class="modal fade" id="AddAccountDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="AddAccountDetailsForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Confirm Add Coins</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>User Number and Name</label>
                        <input type="text" class="form-control" name="userNumber" id="userNumber" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" id="AddAccountRequest">Add Coins</button>
                </div>
            </form>
        </div>
    </div>
</div> *@
<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="DeleteAccountDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Delete Account</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Are you sure, want to delete Account?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="DeleteAccountRequest">Delete Account Request</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
