

<div class="main">
	<div class='dashboard'>
		<div class="dashboard-nav">
			<header>
				<a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a><a href="#"
																				  class="brand-logo">
					<i class="fas fa-anchor"></i> <span>BRAND</span>
				</a>
			</header>
			<nav class="dashboard-nav-list">
				<a href="#" class="dashboard-nav-item">
					<i class="fas fa-home"></i>
					Home
				</a><a href="#" class="dashboard-nav-item active">
					<i class="fas fa-tachometer-alt"></i> dashboard
				</a><a href="#" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Upload </a>
				<div class='dashboard-nav-dropdown'>
					<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
						<i class="fas fa-photo-video"></i> Media
					</a>
					<div class='dashboard-nav-dropdown-menu'>
						<a href="#"
						   class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Recent</a><a href="#" class="dashboard-nav-dropdown-item">Images</a><a href="#" class="dashboard-nav-dropdown-item">Video</a>
					</div>
				</div>
				<div class='dashboard-nav-dropdown'>
					<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
						<i class="fas fa-users"></i> Users
					</a>
					<div class='dashboard-nav-dropdown-menu'>
						<a href="#"
						   class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Subscribed</a><a href="#"
																																 class="dashboard-nav-dropdown-item">Non-subscribed</a><a href="#" class="dashboard-nav-dropdown-item">Banned</a><a href="#" class="dashboard-nav-dropdown-item">New</a>
					</div>
				</div>
				<div class='dashboard-nav-dropdown'>
					<a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
						<i class="fas fa-money-check-alt"></i> Payments
					</a>
					<div class='dashboard-nav-dropdown-menu'>
						<a href="#"
						   class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Recent</a><a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
					</div>
				</div>
				<a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a><a href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
				<div class="nav-item-divider"></div>
				<a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
			</nav>
		</div>
		<div class='dashboard-app'>
			<header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a></header>
			<div class='dashboard-content'>
				<div class="row mt-4">
					<div class="col-6">
						<h6 class="text-white">User Listing</h6>
					</div>
				</div>

				<div class="card mt-4">
					<div class="card-body">
						<h5 class="card-title">Cricket</h5>
						<!-- Table with hoverable rows -->
						<table class="table table-hover" id="userList">
							<thead>
								<tr>
									<th scope="col">Timing</th>
									<th scope="col">Back</th>
									<th scope="col">Back</th>
									<th scope="col">Lay</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">1</th>
									<td>Designer</td>
									<td>28</td>
									<td>2016-05-25</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>Developer</td>
									<td>35</td>
									<td>2014-12-05</td>
								</tr>
								<tr>
									<th scope="row">3</th>
									<td>Finance</td>
									<td>45</td>
									<td>2011-08-12</td>
								</tr>
								<tr>
									<th scope="row">4</th>
									<td>HR</td>
									<td>34</td>
									<td>2012-06-11</td>
								</tr>
								<tr>
									<th scope="row">5</th>
									<td>Dynamic Division Officer Dynamic Division Officer</td>
									<td>47</td>
									<td>2011-04-19</td>
								</tr>
							</tbody>
						</table>
						<!-- End Table with hoverable rows -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="~/js/jquery.min.js"></script>

