.sitebackground {
    /*background: #222222 !important;*/
    background: #070F1B !important;
}

.dashboard-nav, .dashboard-content {
    background-color: #070F1B !important;
}

.dashboard-toolbar, .modal-dialog .modal-content, .modal-dialog .card {
    background-color: #070F1B !important;
}
 
.siteBtnbackground {
    /*background: #000;*/
    /*background: #d334e3;*/
    background: #7752A2;
    color: #FFF;
    font-weight: bolder;
    padding: 5px;
    cursor: pointer;
}

.modal-header .close i {
    color: #7752A2;
}

.leftCard, .middleCard, .rightCard {
    background: #0F1035 !important;
}

.idSwitch {
    padding: 10px;
}

.dashboard-content .card {
    background: #000000 !important;
}

.modal-dialog {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 1rem;
}


.siteBtnbackground:hover {
    /*background: #000;*/
    /*background: #d334e3;*/
    background: #7752C1;
    color: #FFF;
    font-weight: bolder;
    padding: 5px;
    cursor: pointer;
}

.siteColor {
    color: #FFFF !important;
}

.modal-content .close {
    width: 3vw;
    height: 3vw;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.fv-plugins-message-container {
    color: red;
}

.siteheightwidth100 {
    height: 100% !important;
    width: 100% !important;
}
/*
.siteBorderRadius {
    border-radius: 10px 10px 10px 10px !important;
}
*/
.siteImageSize {
    width: 7vw;
    height: 7vw;
}

/*.imageSpanCircle {
    height: 51px;
    width: 51px;
    margin-left: 45%;
}*/

.pSiteNameFontSize {
    font-size: 12px;
    font-weight: 900;
}

.pSiteURLFontSize {
    font-size: 12px;
}

.BtnFontSize {
    font-size: 10px;
}

.table {
    color: #FFFF;
}

.table-hover > tbody > tr:hover {
    color: #FFFF;
}

.cursorPointer {
    cursor: pointer;
}

.contentAlignType {
    align-content: center;
    text-align: center
}

.form-select, .form-control, .form-control:focus {
    background: #000 !important;
    color: #FFF !important;
}

.customtable {
    overflow: scroll;
}

.userlistingCircle {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}

.bgclrred {
    background-color: red
}

.bgclrGreen {
    background-color: green
}

.backbtnNavDesign {
    background: #0f1424;
    height: 23px;
    width: 100%;
    margin: 0px 0px 20px 0px;
    border-radius: 10px 10px 10px 10px;
    color: #FFFF;
}


#listSites .card {
    border-radius: 15px;
    margin-top: 15px;
}

.btn-sm {
    font-size: 7px;
}

.dashboardSite .card .card-body p {
    font-size: 15px
}

.tempclass {
    @extend .grid-margin;
    @extend .stretch-card;
    @extend .bg-dark-1;
    @extend .rounded;
    @extend .text-center;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .siteImageSize {
        width: 14vw;
        height: 14vw;
    }

    .dashboardSite .card .card-body p {
        font-size: 6px
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 750px) {
    .siteImageSize {
        width: 14vw;
        height: 14vw;
    }

    .dashboardSite .card .card-body p {
        font-size: 6px
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
