

.leftCard {
    border-radius: 15px;
    height: 85%;
    margin-top: 35px;
    margin-right: -50%;
    margin-left: 50%;
}


.middleCard {
    border-radius: 15px;
    height: 125%;
    z-index: 999;
}


.rightCard {
    border-radius: 15px;
    height: 85%;
    margin-top: 35px;
    margin-right: 50%;
    margin-left: -50%;
}



@media (min-width: 992px) {

    .leftCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: -90%;
        margin-left: 50%;
    }


    .middleCard {
        border-radius: 15px;
        height: 125%;
        z-index: 999;
    }


    .rightCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: 50%;
        margin-left: -90%;
    }
}


@media (max-width: 768px) {

    .leftCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: -90%;
        margin-left: 50%;
    }


    .middleCard {
        border-radius: 15px;
        height: 125%;
        z-index: 999;
    }


    .rightCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: 50%;
        margin-left: -90%;
    }
}

@media (max-width: 992px) {

    .leftCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: -90%;
        margin-left: 50%;
    }

        .leftCard .container {
            margin-left: -25px;
        }

    .middleCard {
        border-radius: 15px;
        height: 125%;
        z-index: 999;
    }


    .rightCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: 50%;
        margin-left: -90%;
    }

        .rightCard .container {
            margin-left: 25px;
        }
}

@media (max-width: 992px) {

    .leftCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: -90%;
        margin-left: 50%;
    }


    .middleCard {
        border-radius: 15px;
        height: 125%;
        z-index: 999;
    }


    .rightCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: 50%;
        margin-left: -90%;
    }
}

@media (min-width: 992px) {
    .leftCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: -90%;
        margin-left: 50%;
    }


    .middleCard {
        border-radius: 15px;
        height: 125%;
        z-index: 999;
    }


    .rightCard {
        border-radius: 15px;
        height: 100%;
        margin-top: 20px;
        margin-right: 50%;
        margin-left: -90%;
    }
}


.DashboardIconText {
    text-align: center;
    margin-top: 10%;
    font-size: 10px;
    font-weight: 800;
}


.DashboardIcontopradius {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width:100%;
    height:auto
}

.middleCard .container{
    padding:0px;
}




.main-container {
    padding: 30px;
}

.account-container {
    position: relative;
    padding: 10px;
    margin: auto;
    width: 240px;
}

.acc-content {
    width: 65px;
    color: white;
    border-radius: 12px;
    font-size: 9px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.depwith {
    background-color: rgba(0, 0, 0, 0.964);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.632);
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-radius: 12px;
}

.deposite,
.withdraw {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .deposite div {
        margin-bottom: 17px;
        margin-top: 8px;
    }

    .withdraw div {
        margin-bottom: 8px;
        margin-top: 8px;
    }

.wallet {
    background-color: rgba(0, 0, 0, 0.964);
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.632);
    position: absolute;
    right: 29%;
    bottom: -12%;
    height: 110px;
    width: 100px;
}

.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 6px;
    margin-bottom: -6px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* More styling Part :----------------------------- */

.wallet img {
    height: 50px;
    width: 80px;
}

.wallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

