@model string;

<div class="row col-12 BankDataSwitch" style="">
    <div class="col-4 tabSelection rounded-3 active" idtype="activeBank">
        Active Bank
    </div>

    <div class="col-4 tabSelection rounded-3" idtype="deletedBank">
        Deleted
    </div>

    <div class="col-4 tabSelection rounded-3" idtype="bankHistory">
        History
    </div>
</div>

<div class='dashboard-content' id="ListBankDetail" ViewType="@Model">

</div>
