
<div class="row col-12 BankDataSwitch" style="">
    <div class="col-4 tabSelection active" idtype="activeBank">
        Active Bank
    </div>

    <div class="col-4 tabSelection" idtype="deletedBank">
        Deleted
    </div>

    <div class="col-4 tabSelection" idtype="bankHistory">
        History
    </div>
</div>

<div class='dashboard-content' id="ListBankDetail">

</div>
