@model string;

@if(@Model != "Admin")
{
    <div class="row col-12 idSwitch text-white" style="">
        <div class="col-6 tabSelection myIdsClass" idType="myIds">
            My IDs
        </div>

        <div class="col-6 tabSelection newIdsClass" idType="newIds">
            Create ID
        </div>
    </div>
}

<div class='dashboard-content' id="listSites" ViewType="@Model">
</div>

<div class='dashboard-content bg-dark' id="SiteDetail">
</div>

<!-- Update sites Modal -->
<div class="modal fade" id="UpdateSiteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content sitebackground siteColor">
            <form id="UpdateSiteModalForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Update Site</h4>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Site Name</label>
                        <input name="siteName" type="text" class="form-control siteName" placeholder="Site Name" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Site URL</label>
                        <input name="siteURL" type="text" class="form-control siteURL" placeholder="Site URL" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input hidden name="siteIcon" type="text" class="form-control siteIcon">
                        <div method="post" enctype="multipart/form-data" style="margin-top: 10px">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="file" name="files" class="files" />  @*multiple*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Update Site</button> 
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Update sites Modal-->
<!-- Delete sites Modal -->
<div class="modal fade" id="DeleteSiteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content sitebackground siteColor">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Confirm Delete Site!</h4>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Are you sure you want Delete Site Name?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground col-12" id="DeleteSiteConfirmbtn">Delete Site</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete sites Modal -->
