@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@model ReturnType<MultiLogApplication.Models.SiteDetails.SiteDetail>

@if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
{
    @foreach (var siteDetail in Model.ReturnList)
    {
        <div class="card sitebackground siteBorderRadius siteColor site_@siteDetail.SiteId">
            <div class="card-body">
                <div class="row Col-12">
                    <div class="col-9">
                        <div class="row col-12">
                            <div class="col-3 siteImageDivClass" >
                                <img class="siteImageCircle siteIcon" src="@Configuration["StoragePath:SiteIcon:Path"]\@siteDetail.DocumentDetailId.@siteDetail.FileExtenstion" />
                            </div>
                            <div class="col-9">
                                <h6 class="pSiteNameFontSize siteName">@siteDetail.SiteName</h6>
                                <p class="pSiteURLFontSize siteURL">@siteDetail.SiteURL</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-3 contentAlignType">
                        <div class="siteBorderRadius siteBtnbackground BtnFontSize" data-toggle="modal" siteId="@siteDetail.SiteId" data-target="#CreateIDRequestModal" id="CreateIDRequestModalBtn" style="float: right"><i class="bi bi-plus-square-fill"></i>Create</div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <span>
        No Data Found!!!
    </span>
}
<!-- Create ID Request Modal -->
<div class="modal fade" id="CreateIDRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content sitebackground siteColor">
            <form id="CreateIDRequestModalForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">CREATE ID</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="imageSpanCircle">
                                <img class="siteIcon siteImageCircle" src="" />
                            </span>
                            <span class="pSiteNameFontSize siteName">Site Name</span>
                            <span class="pSiteURLFontSize siteURL">Site URL</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username*</label>
                        <input type="text" name="Username" id="Username" class="form-control" placeholder="User Name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success col-12">Create ID</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Create ID Request Modal-->
