@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@model ReturnType<MultiLogApplication.Models.Account.AccountDetail>
@* 
@if (Model != null && Model.ReturnVal != null)
{ *@
<div class="card" style="border-radius: 10px 10px 10px 10px;">
        <div class="card-body">
            <div class="row Col-12">
                <div class="col-6">
                    <div class="row col-12">
                        <div class="col-4">
                        <img src="/images/kapunterIcon.jpg" alt="cricket ipl" class="" style="height: 25%;border-radius: 10px 10px 10px 10px;">
                        <span>Username</span>
                    </div>
                        <div class="col-8">
                            <h5 class="card-title">data adasf</h5>
                            <p class="card-title">data adadfas</p>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <button class="bg-success" data-toggle="modal" style="float: right;border-radius: 5px;margin-top: 15px;">Create</button>
                </div>
            </div>
        </div>
    </div>
@* } *@
