@model string;

<div class="row col-12 tabSelection active" style="">
    Transactions
</div>

<div class='dashboard-content' id="listPassbookHistory" ViewType="@Model">

</div>

<div class='dashboard-content' id="PassbookHistory">

</div>

