@model string;

<div class="row col-12 idSwitch rounded-3 text-white" style="">
    <div class="col-6 tabSelection rounded-3 active">
        Transaction History
    </div>

    <div class="col-6 tabSelection rounded-3">
         
    </div>
</div> 

<div class='dashboard-content' id="listPassbookHistory" ViewType="@Model">
</div>

<div class='dashboard-content' id="PassbookHistory">
</div>

