
<div class="BackBtnMyIds card-body card-body-padding row col-12 backbtnNavDesign">
        <div class="col-2" style="margin: -11px;">
            <i class="bi bi-arrow-left-circle-fill"></i>
        </div>
        <div class="col-10"></div>
    </div>
<div class="card sitebackground siteBorderRadius siteColor" style="margin:10px 10px 10px 0px">
        <div class="card-body card-body-padding">
            <div class="row Col-12">
            <div class="d-flex flex-column text-center col-12">
                <span class="imageSpanCircle">
                    <img class="siteIcon siteImageCircle" src="" />
                </span> 
                <span class="pSiteURLFontSize siteURL">URL</span>
                <span class="pSiteNameFontSize siteUserName">Name</span>
            </div>
            </div> 
        </div>
    </div>


<div class="card sitebackground siteBorderRadius siteColor">
    <div class="card-body card-body-padding">
        <div class="row Col-12">
            Details
        </div>
        <div class="nav-item-divider" style="color:white"></div>
        <div class="row Col-12">
            <div class="col-6" style="text-align:left">
                Coins
            </div>
            <div class="col-6 Coins" style="text-align:right">
                Coins
            </div>
        </div>
        <div class="row Col-12">
            <div class="col-6" style="text-align:left">
                Paid from wallet
            </div>
            <div class="col-6 paidCoins" style="text-align:right">
                Paid from wallet
            </div>
        </div>
        <div class="row Col-12">
            <div class="col-6" style="text-align:left">
                Reference No
            </div>
            <div class="col-6 passbookId" style="text-align:right">
                Reference No
            </div>
        </div>
        <div class="row Col-12">
            <div class="col-6 createdOn" style="text-align:left">
                Request Date
            </div>
            <div class="col-6" style="text-align:right">
                Request Date
            </div>
        </div>
        <div class="row Col-12">
            <div class="col-6" style="text-align:left">
                Approved On
            </div>
            <div class="col-6 createdOn" style="text-align:right">
                Approved Date
            </div>
        </div>
    </div>
</div>
