

    <div class="main">
        <div class='dashboard'>
            <div class="dashboard-nav">
                <header>
                    <a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a><a href="#"
                                                                                      class="brand-logo">
                        <i class="fas fa-anchor"></i> <span>BRAND</span>
                    </a>
                </header>
                <nav class="dashboard-nav-list">
                    <a href="#" class="dashboard-nav-item">
                        <i class="fas fa-home"></i>
                        Home
                    </a><a href="#" class="dashboard-nav-item active">
                        <i class="fas fa-tachometer-alt"></i> dashboard
                    </a><a href="#" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> Upload </a>
                    <div class='dashboard-nav-dropdown'>
                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="fas fa-photo-video"></i> Media
                        </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a href="#"
                               class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Recent</a><a href="#" class="dashboard-nav-dropdown-item">Images</a><a href="#" class="dashboard-nav-dropdown-item">Video</a>
                        </div>
                    </div>
                    <div class='dashboard-nav-dropdown'>
                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="fas fa-users"></i> Users
                        </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a href="#"
                               class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Subscribed</a><a href="#"
                                                                                                                                           class="dashboard-nav-dropdown-item">Non-subscribed</a><a href="#" class="dashboard-nav-dropdown-item">Banned</a><a href="#" class="dashboard-nav-dropdown-item">New</a>
                        </div>
                    </div>
                    <div class='dashboard-nav-dropdown'>
                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                            <i class="fas fa-money-check-alt"></i> Payments
                        </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a href="#"
                               class="dashboard-nav-dropdown-item">All</a><a href="#" class="dashboard-nav-dropdown-item">Recent</a><a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
                        </div>
                    </div>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a><a href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
                    <div class="nav-item-divider"></div>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
                </nav>
            </div>
            <div class='dashboard-app'>
                <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="bi bi-list"></i></a></header>
                <div class='dashboard-content'>
                    <div class="row" style="    padding-bottom: 50px;">
                        <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                            <div class="card" style="background: #222222;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9 mb-2">
                                            <div class="d-flex align-items-center align-self-start">
                                                <h3 class="mb-0">$12.34</h3>
                                            </div>
                                        </div>

                                    </div>
                                    <h6 class="text-muted font-weight-normal">WALLET BALANCE</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 grid-margin stretch-card" data-toggle="modal" data-target="#DepositCoins">
                            <div class="card" style="background: #222222;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9 mb-2">
                                            <div class="d-flex align-items-center align-self-start">
                                                <h3 class="mb-0">$12.34</h3>

                                            </div>
                                        </div>

                                    </div>
                                    <h6 class="text-muted font-weight-normal">WITHDRAW</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 grid-margin stretch-card" data-toggle="modal" data-target="#WithdrawCoins">
                            <div class="card" style="background: #222222;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-9 mb-2">
                                            <div class="d-flex align-items-center align-self-start">
                                                <h3 class="mb-0">$12.34</h3>

                                            </div>
                                        </div>

                                    </div>
                                    <h6 class="text-muted font-weight-normal">DEPOSIT</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="~/images/banner_ipl.png" alt="cricket ipl" width="100%" height="auto">

                    <div class="row mt-4">
                        <div class="col-6">
                            <h6 class="text-white">My IDs</h6>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <a href="#" class="text-muted" style="padding-right: 30px;">
                                <i class="bi bi-plus-circle-fill"></i> Create ID
                            </a>
                            <a href="#" class="text-primary">View All</a>
                        </div>
                    </div>

                    <div class="card" style="background: #222; padding: 30px;">
                        <div class="row">
                            <a class="nav-link collapsed" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>CBTF</span>
                            </a>
                            <a class="nav-link collapsed" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>Jayaraj Jogi</span>
                            </a>
                        </div>
                        <div class="card" style="
									background: #3e3e3e;
									padding: 20px;">
                            <div class="row">
                                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                    <div class="card" style="background: black;">
                                        <div class="card-body text-center">
                                            <div class="row">
                                                <i class="bi bi-arrow-up text-success"></i>
                                            </div>
                                            <h6 class="text-muted font-weight-normal">Deposit</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                    <div class="card" style="background: black;">
                                        <div class="card-body text-center">
                                            <i class="bi bi-arrow-down text-danger"></i>
                                            <h6 class="text-muted font-weight-normal">Withdraw</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                    <div class="card" style="background: black;">
                                        <div class="card-body text-center">
                                            <i class="bi bi-key-fill"></i>
                                            <h6 class="text-muted font-weight-normal">Password</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                    <div class="card" style="background: black;">
                                        <div class="card-body text-center">
                                            <i class="bi bi-ui-checks-grid"></i>
                                            <h6 class="text-muted font-weight-normal">View Detail</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Cricket</h5>
                            <!-- Table with hoverable rows -->
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Timing</th>
                                        <th scope="col">Back</th>
                                        <th scope="col">Back</th>
                                        <th scope="col">Lay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Designer</td>
                                        <td>28</td>
                                        <td>2016-05-25</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Developer</td>
                                        <td>35</td>
                                        <td>2014-12-05</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Finance</td>
                                        <td>45</td>
                                        <td>2011-08-12</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>HR</td>
                                        <td>34</td>
                                        <td>2012-06-11</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Dynamic Division Officer Dynamic Division Officer</td>
                                        <td>47</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End Table with hoverable rows -->
                        </div>
                    </div>
                    <div class="card mt-4" style="background: #3e3e3e;padding: 20px;">
                        <div class="row">
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card" style="background: black;">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <i class="bi bi-arrow-up text-success"></i>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">
                                            <a href="#"> Home </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card" style="background: black;">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <i class="bi bi-arrow-up text-success"></i>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">
                                            <a href="#"> Cricket </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card" style="background: black;">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <i class="bi bi-arrow-up text-success"></i>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">
                                            <a href="#"> Passbook </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                                <div class="card" style="background: black;">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <i class="bi bi-arrow-up text-success"></i>
                                        </div>
                                        <h6 class="text-muted font-weight-normal">
                                            <a href="#"> IDs </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="DepositCoins" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Deposit</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>uname</label>
                            <input type="text" class="form-control" placeholder="User Name">
                            <label>upwd</label>
                            <input type="password" class="form-control" placeholder="password">
                        </div>
                    </form>
                    <div method="post" enctype="multipart/form-data" style="margin-top: 10px">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="file" name="files" multiple />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="DesitCoins">Deposit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <!-- Modal -->
    <div class="modal fade" id="WithdrawCoins" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Withdraw</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>uname</label>
                            <input type="text" class="form-control" placeholder="User Name">
                            <label>upwd</label>
                            <input type="password" class="form-control" placeholder="password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Login</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal-->

