@model string;

<div class='dashboard-content' id="ListDashboardImgDetail" ViewType="@Model">
</div>

<!-- Delete Dashboard Image Modal -->
<div class="modal fade" id="DeleteDashboardImg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content siteColor">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Confirm Delete!</h4>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Are you sure you want Delete Image?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground col-12" id="DeleteDashboardImgConfirmbtn">Delete Image</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete Dashboard Image Modal -->