@using MultiLogApplication.Models.Common
@inject IConfiguration Configuration
@model ReturnType<MultiLogApplication.Models.Dashboard.DashboardImages>

<div class="row mt-4">
    <div class="col-6">
        <h6 class="text-white">Dashboard Images</h6>
    </div>
</div>

<div class="card mt-4 sitebackground siteColor">
    <div class="card-body customtable">
        @* <h5 class="card-title">Dashboard Images</h5> *@
        <!-- Table with hoverable rows -->
        <table class="table table-hover" id="userList">
            <thead>
                <tr class="tableHeaderClass">
                    <th scope="col" class="text-center">Display Date</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.ReturnList != null && Model.ReturnList.Count != 0)
                {
                    @foreach (var image in Model.ReturnList)
                    {
                        <tr>
                            <td scope="row" class="text-center">@image.DisplayDate</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" data-toggle="modal" data-target="#ViewCoinRequestProof" docId="@image.DocumentDetailId" dashboardPath="@Configuration["StoragePath:DashboardImages:Path"]\@image.DocumentDetailId.@image.FileExtenstion" id="ViewDashboardImgBtn"> <i class="bi bi-eye-fill"></i></button>
                                    <button type="button" data-toggle="modal" data-target="#DeleteDashboardImg" docId="@image.DocumentDetailId" id="DeleteDashboardImgBtn"> <i class="bi bi-person-fill-slash"></i></button>

                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="5">No Data Found!!</td></tr>
                }
            </tbody>
        </table>
        <!-- End Table with hoverable rows -->
    </div>
</div>




