@model string;

<div class='dashboard-content' id="ListCoinsDetail" ViewType="@Model">

</div>


<!-- Deposite Coins to Account Modal -->
<div class="modal fade" id="DepositeCoinsToAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content siteColor">
            <form id="DepositeCoinsToAccountModalForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Deposite Coins</h4>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="">
                                <img class="siteIcon rounded-circle siteImageSize" src="" />
                            </span>
                            <span class="pSiteNameFontSize siteName">Name</span>
                            <span class="pSiteURLFontSize siteURL">URL</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Coins*</label>
                        <input type="text" name="Coins" class="form-control Coins" placeholder="Coins" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Deposite Coins To Site</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Deposite Coins to Account Modal-->

<!-- WithDraw Coins from Account Modal -->
<div class="modal fade" id="withdrawCoinsFromAccountModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <style>
            .nav-item-divider {
                background-color: rgb(20 24 25 / 30%);
            }
        </style>
        <div class="modal-content siteColor">
            <form id="WithDrawCoinsFromAccountModalForm">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Withdraw Coins</h4>
                    <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle-fill"></i>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group col-12">
                        <div class="d-flex flex-column text-center col-12">
                            <span class="">
                                <img class="siteIcon rounded-circle siteImageSize" src="" />
                            </span>
                            <span class="pSiteNameFontSize siteName">Name</span>
                            <span class="pSiteURLFontSize siteURL">URL</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Coins*</label>
                        <input type="text" name="Coins" class="form-control Coins" placeholder="Coins" autocomplete="off">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn siteBtnbackground col-12">Withdraw Coins From Site</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- WithDraw Coins to Account Modal-->
<!-- Delete Coins to wallet Request Modal -->
<div class="modal fade" id="DeleteCoinRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content siteColor">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Confirm Delete Request!</h4>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Are you sure you want Delete Request?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground" id="DeleteCoinsToWalletConfirmbtn">Delete Request</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete  Coins to wallet Request Modal -->
<!-- Delete Coins to SIte Request Modal -->
<div class="modal fade" id="DeleteCoinsToAccountRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content siteColor">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Confirm Delete Request!</h4>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <h5>Are you sure you want Delete Request?</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn siteBtnbackground col-12" id="DeleteConsToAccountConfirmbtn">Delete Request</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete  Coins To SIte Request Modal -->
